body {
    background-color: lightblue;
}

.counter_container {
    border: 1px solid darkblue;
    border-radius: 10px;
}

button {
    font-size: 30px;
    height: 50px;
    width: 200px;
    margin: 0 10px 0 10px;
}
